In [4]:
import pandas as pd
import pandas_ta as ta

In [16]:
df = pd.read_csv(r"C:\Users\Usuario\Proyectos\Bot Trading\data\1000SHIBUSDT_1m.csv")

In [19]:
adx = ta.adx(high=df["High"], low=df["Low"], close=df["Close"])

In [20]:
adx

        ADX_14     DMP_14     DMN_14
0          NaN        NaN        NaN
1          NaN        NaN        NaN
2          NaN        NaN        NaN
3          NaN        NaN        NaN
4          NaN        NaN        NaN
..         ...        ...        ...
495  47.647604  28.992956  10.990603
496  47.460231  28.127564  10.662552
497  47.442472  28.367023  10.172089
498  45.275621  24.696805  17.481542
499  42.967384  24.320284  18.739596

[500 rows x 3 columns]